packages:
  rpm:
    takipi: https://app.takipi.com/app/download?t=rpm
commands:
  takipi_setup:
    command: "/opt/takipi/etc/takipi-setup-package KEY_HERE"

option_settings:
  - namespace:  aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name:  JVM Options
    value:  -agentlib:TakipiAgent