commands:
  01_create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_reload_httpd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      sed -i -e 's/Timeout 60/Timeout 1800/g' /etc/httpd/conf/httpd.conf
      service httpd restart
