#result-page-container {
    margin-top: 20px;
}

.result-container {
    margin-bottom: 25px;
}

.job-title {
    font-size: 16px;
}

.job-search-button {
    background-color: #181453;
    width: 100%;
    border-radius: 0px !important;
}

.filter-title {
    font-size: 12px;
    color: #181453 !important;
}

.filter-container {
    margin-bottom: 20px;
}

.filter .btn-link {
    display: block;
    font-size: 12px !important;
    padding: 4px 0px !important;
}

.filter-container a,
#sort-filter-container span,
{
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px;
}

#filter-list-container a {
    display: block;
}

#filter-list-container a span {
    color: black;
    margin-left: 3px;
}

#sort-filter-container a {
    display: inline-block !important;
    font-size: 12px !important;
}

#salary-filter-container .btn-link {
    display: block !important;
    font-size: 12px !important;
    padding: 4px 0px !important;
}

#job-search-container {
    margin-bottom: 20px !important;
}

#filters-container {
    position: fixed;
    margin-left: 15px;
    margin-right: 15px;
}

#message-box-container {
    position: fixed;
    margin-top: 80px;
}

#message-box {
    margin-bottom: 20px;
}

#message {
    margin-top: 18px;
    margin-bottom: 15px;
}

.edit-profile-button {
    background-color: #181453 !important;
    height: 30px;
    color: white;
    width: 100%;
}


/** Desktop Navbar **/

.candidate-nav-desktop-container {
    height: 50px !important;
    background-color: #FFFFFF;
    border-top: 1px solid #D1D9EF;
    border-bottom: 1px solid #D1D9EF;
}

.candidate-nav-desktop-container button {
    color: black !important;
}

.candidate-nav-desktop {
    margin-left: 52px !important;
    margin-top: 15px;
}


/** Mobile Navbar **/

.candidate-nav-mobile-container {
    height: auto !important;
    background-color: #FFFFFF;
    border-top: 1px solid #D1D9EF;
    border-bottom: 1px solid #D1D9EF;
}

.candidate-nav-mobile {
    margin-top: 1px;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navbar-button {
    font-size: 16px !important;
    color: #181453 !important;
}

.navbar-text {
    font-family: 'Avenir Next' !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 10px !important;
    color: #3B3D43 !important;
}

.navbar-button .text-center {
    margin-top: 5px !important;
}


/*** End Navbar ***/